@use 'sass:color';

/* latin-ext */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('/fonts/8vIQ7wUr0m80wwYf0QCXZzYzUoTg8z6hR4jNCH5Z.woff2') format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('/fonts/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6hR4jNCA.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$primary-color: #F8CB2E;

:root {
  --white-color:#ffffff;
  --halfwhite-color:#707070;
  --primary-color:#F8CB2E;
  --section-bg-color:#111111;
  --custom-btn-bg-color:#984400;
  --custom-btn-bg-hover-color:#be5600;
  --dark-color:#111111;
  --black-color:#000000;
  --p-color:#eeeeee;
  --border-color:#7fffd4;
  --link-hover-color:#F8CB2E;
  --heading-font-family:'Red Hat Display', sans-serif;
  --h1-font-size:74px;
  --h2-font-size:50px;
  --h3-font-size:32px;
  --h4-font-size:28px;
  --h5-font-size:24px;
  --h6-font-size:22px;
  --p-font-size:18px;
  --btn-font-size:16px;
  --copyright-font-size:16px;
  --border-radius-large:100px;
  --border-radius-medium:20px;
  --border-radius-small:10px;
  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-bold:700;
}

body {
  background-color: var(--black-color);
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body.modal-open {
  overflow: hidden;
}

h2, h3, h4, h5, h6 {
  color: var(--white-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }
}

.header-primary {
  color: var(--primary-color);
}

.header-index {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  background: linear-gradient(90deg, color.scale($primary-color, $lightness: -20%) 0%, color.scale($primary-color, $lightness: -10%) 100%);
  background-clip: text;
  color: transparent;

  .header-index-highlight {
    font-weight: 900;
    background: linear-gradient(120deg, $primary-color 20%, color.scale($primary-color, $lightness: 15%) 50%, $primary-color 80%);
    background-clip: text;
    color: transparent;
  }
}

.img-fluid,
.header-index,
.pricing-thumb {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7));
}

p, ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: #4aabff;
  text-decoration: none;

  &:hover {
    color: #93cdff;
  }
}

b, strong {
  font-weight: var(--font-weight-bold);
}

.icon {
  --size:1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.section-padding {
  scroll-margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav + .section-padding {
  padding-top: 90px;
}

@media screen and (min-width: 1200px) {
  .section-padding {
    scroll-margin-top: 100px;
  }

  nav + .section-padding {
    padding-top: 150px;
  }
}

.section-bg {
  background: linear-gradient(180deg, hsl(40, 92%, 5%) 0%, hsl(40, 92%, 2%) 90%, var(--black-color) 100%);
}

.section-bg-1 {
  background: linear-gradient(180deg, hsl(15, 92%, 2%) 0%, hsl(40, 92%, 5%) 100%);
}

.section-bg-2 {
  background: linear-gradient(180deg, hsl(40, 92%, 5%) 0%, hsl(30, 92%, 5%) 100%);
}

.section-bg-3 {
  background: linear-gradient(180deg, hsl(30, 92%, 5%) 0%, hsl(20, 92%, 6%) 100%);
}

.section-bg-4 {
  background: linear-gradient(180deg, hsl(20, 92%, 6%) 0%, hsl(10, 92%, 3%) 90%, var(--black-color) 100%);
}

.custom-btn, .custom-btn:hover {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--heading-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

@media (hover) {
  .custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }
}

.custom-border-btn, .custom-border-btn:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media (hover) {
  .custom-border-btn:hover {
    background: var(--primary-color);
    border-color: transparent;
    color: var(--black-color);
  }
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--heading-font-family);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.65) 100%);
  backdrop-filter: blur(16px);
  z-index: 9;
  touch-action: none;
}

.backdrop-edge {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px) brightness(0.96);
  transform: translateY(100%);
  pointer-events: none;
}

.navbar-brand {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: 800;
  letter-spacing: 2%;

  &:hover {
    color: var(--white-color);
    font-size: var(--h5-font-size);
    font-weight: 800;
    letter-spacing: 2%;
  }
}

.navbar-expand-xl .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px 15px 10px 0;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  &.active, &:hover {
    color: var(--primary-color);
  }
}

@media screen and (max-height: 400px) {
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-nav .nav-item {
    padding-right: 10px;
  }
}

$navbar-toggler-width: 30px;

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: $navbar-toggler-width;
  height: 35px;
  outline: none;
  margin-right: $spacer * 1.5;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.open .navbar-toggler-icon {
    background: transparent;

    &:before, &:after {
      transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
      transition: top 300ms 50ms ease, transform 300ms 350ms ease;
      transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;

    &:before, &:after {
      transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
      transition: top 300ms 350ms ease, transform 300ms 50ms ease;
      transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
      position: absolute;
      right: 0;
      left: 0;
      background: var(--white-color);
      width: 30px;
      height: 2px;
      content: '';
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

.hero-section {
  background-image: url('/images/bsbg-2048.webp?v=2');
  background-image: image-set('/images/bsbg-2048@2x.avif?v=2' 2x type('image/avif'), '/images/bsbg-2048.avif?v=2' 1x type('image/avif'), '/images/bsbg-2048@2x.webp?v=2' 2x type('image/webp'), '/images/bsbg-2048.webp?v=2' 1x type('image/webp'));
  background-color: var(--black-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: calc(min(80vw, 750px));
  margin-bottom: 20px;
}

.about-section {
  position: relative;
}

.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
}

.about-text-wrap {
  position: relative;
}

.artists-icon {
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23111%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M8%200C5.829%200%205.556.01%204.703.048%203.85.088%203.269.222%202.76.42a3.9%203.9%200%200%200-1.417.923A3.9%203.9%200%200%200%20.42%202.76C.222%203.268.087%203.85.048%204.7.01%205.555%200%205.827%200%208.001c0%202.172.01%202.444.048%203.297.04.852.174%201.433.372%201.942.205.526.478.972.923%201.417.444.445.89.719%201.416.923.51.198%201.09.333%201.942.372C5.555%2015.99%205.827%2016%208%2016s2.444-.01%203.298-.048c.851-.04%201.434-.174%201.943-.372a3.9%203.9%200%200%200%201.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99%2010.445%2016%2010.173%2016%208s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9%203.9%200%200%200-.923-1.417A3.9%203.9%200%200%200%2013.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01%2010.172%200%207.998%200zm-.717%201.442h.718c2.136%200%202.389.007%203.232.046.78.035%201.204.166%201.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275%201.485.039.843.047%201.096.047%203.231s-.008%202.389-.047%203.232c-.035.78-.166%201.203-.275%201.485a2.5%202.5%200%200%201-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5%202.5%200%200%201-.92-.598%202.5%202.5%200%200%201-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24%201.485-.276.738-.034%201.024-.044%202.515-.045zm4.988%201.328a.96.96%200%201%200%200%201.92.96.96%200%200%200%200-1.92m-4.27%201.122a4.109%204.109%200%201%200%200%208.217%204.109%204.109%200%200%200%200-8.217m0%201.441a2.667%202.667%200%201%201%200%205.334%202.667%202.667%200%200%201%200-5.334%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.artists-info {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px 20px;

  h5 {
    text-align: center;
    line-height: 40px;
    margin-bottom: 0;
  }
}

.artists-row {
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

.artists-item {
  width: 350px;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

.artists-thumb {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.2);
  opacity: 0.4;
  transition: opacity 0.4s;

  &.visible {
    opacity: 1.0;
  }
}

.artists-video {
  display: block;
  width: 100%;
  height: 405px;
}

.ticket-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 50px;

  .form-check {
    position: relative;
    min-height: 52px;
    padding-left: 35px;

    .form-check-label {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 12px;
      margin-left: 35px;
      width: 100%;
      height: 100%;
    }
  }
}

.badge {
  display: inline-block;
  font-size: var(--btn-font-size);
  font-weight: 300;
  letter-spacing: 2%;
  margin-bottom: 12px;
  margin-right: 6px;
  padding: 10px 12px;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
}

.badge,
.pricing-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px dashed var(--halfwhite-color);
  border-radius: var(--border-radius-small);
}

.pricing-thumb {
  position: relative;
  padding: 25px 30px;
}

.price-header {
  font-weight: normal;
}

.pass-price {
  font-weight: 900;
}

.pass-finland {
  color: $blue-200;
}

.pass-international {
  color: $green-200;
}

.custom-form {
  .form-control {
    color: var(--p-color);
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    outline: none;
  }

  button {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
    margin-bottom: 0;

    &:hover, &:focus {
      background: var(--custom-btn-bg-hover-color);
    }
  }
}

.img-fluid {
  border: 1px solid rgba(209, 213, 219, 0.2);
}

.site-footer {
  background-color: var(--black-color);
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-footer-link, .copyright-text {
  color: var(--white-color);
}

.copyright-text {
  font-size: var(--copyright-font-size);
  opacity: 0.3;
}

.social-icon-link-ig,
.social-icon-link-fb,
.social-icon-link-wa {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.social-icon-link-fb {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23fff%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M16%208.049c0-4.446-3.582-8.05-8-8.05C3.58%200-.002%203.603-.002%208.05c0%204.017%202.926%207.347%206.75%207.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017%201.195-3.131%203.022-3.131.876%200%201.791.157%201.791.157v1.98h-1.009c-.993%200-1.303.621-1.303%201.258v1.51h2.218l-.354%202.326H9.25V16c3.824-.604%206.75-3.934%206.75-7.951%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.social-icon-link-ig {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M8%200C5.829%200%205.556.01%204.703.048%203.85.088%203.269.222%202.76.42a3.9%203.9%200%200%200-1.417.923A3.9%203.9%200%200%200%20.42%202.76C.222%203.268.087%203.85.048%204.7.01%205.555%200%205.827%200%208.001c0%202.172.01%202.444.048%203.297.04.852.174%201.433.372%201.942.205.526.478.972.923%201.417.444.445.89.719%201.416.923.51.198%201.09.333%201.942.372C5.555%2015.99%205.827%2016%208%2016s2.444-.01%203.298-.048c.851-.04%201.434-.174%201.943-.372a3.9%203.9%200%200%200%201.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99%2010.445%2016%2010.173%2016%208s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9%203.9%200%200%200-.923-1.417A3.9%203.9%200%200%200%2013.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01%2010.172%200%207.998%200zm-.717%201.442h.718c2.136%200%202.389.007%203.232.046.78.035%201.204.166%201.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275%201.485.039.843.047%201.096.047%203.231s-.008%202.389-.047%203.232c-.035.78-.166%201.203-.275%201.485a2.5%202.5%200%200%201-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5%202.5%200%200%201-.92-.598%202.5%202.5%200%200%201-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24%201.485-.276.738-.034%201.024-.044%202.515-.045zm4.988%201.328a.96.96%200%201%200%200%201.92.96.96%200%200%200%200-1.92m-4.27%201.122a4.109%204.109%200%201%200%200%208.217%204.109%204.109%200%200%200%200-8.217m0%201.441a2.667%202.667%200%201%201%200%205.334%202.667%202.667%200%200%201%200-5.334%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.social-icon-link-wa {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M13.601%202.326A7.85%207.85%200%200%200%207.994%200C3.627%200%20.068%203.558.064%207.926c0%201.399.366%202.76%201.057%203.965L0%2016l4.204-1.102a7.9%207.9%200%200%200%203.79.965h.004c4.368%200%207.926-3.558%207.93-7.93A7.9%207.9%200%200%200%2013.6%202.326zM7.994%2014.521a6.6%206.6%200%200%201-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56%206.56%200%200%201-1.007-3.505c0-3.626%202.957-6.584%206.591-6.584a6.56%206.56%200%200%201%204.66%201.931%206.56%206.56%200%200%201%201.928%204.66c-.004%203.639-2.961%206.592-6.592%206.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73%200%200%200-.529.247c-.182.198-.691.677-.691%201.654s.71%201.916.81%202.049c.098.133%201.394%202.132%203.383%202.992.47.205.84.326%201.129.418.475.152.904.129%201.246.08.38-.058%201.171-.48%201.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232%22%2F%3E%0A%3C%2Fsvg%3E');
}

@media screen and (max-width: 991px) {
  .hero-section {
    margin-top: 20px;
    margin-bottom: 0;
    background-image: url('/images/bsbg-1024.webp?v=2');
    background-image: image-set('/images/bsbg-1024@2x.avif?v=2' 2x type('image/avif'), '/images/bsbg-1024.avif?v=2' 1x type('image/avif'), '/images/bsbg-1024@2x.webp?v=2' 2x type('image/webp'), '/images/bsbg-1024.webp?v=2' 1x type('image/webp'));
    height: calc(min(98vw, 750px));
  }
}

@media screen and (min-width: 2048px) {
  .hero-section {
    background-size: contain;
  }
}

@media screen and (max-width: 1199px) {
  .navbar {
    .custom-btn {
      font-size: 14px;
      padding: 6px 12px;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: 0;
    }

    padding-left: calc($navbar-toggler-width + $spacer * 1.5);
  }

  .navbar-collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &.show {
      max-height: 99em;
      transition: max-height 1.0s ease-in-out;
    }
  }
}

@media screen and (max-width: 389px) {
  .navbar {
    .custom-btn {
      display: none;
    }
  }
}