{% extends "_head.html" %}

{% block body %}
<body>
  <main>
    <nav class="navbar navbar-expand-xl">
      <div class="container justify-content-start">
        <button class="navbar-toggler" id="navbarToggler" type="button" onclick="toggleMenu()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
          BACHATA SAUNA
        </a>

        <a href="/#tickets" class="btn custom-btn custom-border-btn d-xl-none ms-auto">Tickets</a>

        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav align-items-xl-center ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/#about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/#artists">Artists</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/#venue">Venue</a>
            </li>

            <li class="nav-item d-xl-none">
              <a class="nav-link" href="/#tickets">Tickets</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/social-competition">Competition</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/hotel">Hotel</a>
            </li>

            <li class="nav-item d-none d-xl-block">
              <a href="/#tickets" class="btn custom-btn custom-border-btn ms-4">Tickets</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="backdrop-edge"></div>
    </nav>

    {% block content %}{% endblock content %}
</body>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div>
          <a href="https://www.facebook.com/events/476461991951843" target="_blank" class="social-icon-link-fb me-4"></a>
          <a href="https://www.instagram.com/bachatasauna" target="_blank" class="social-icon-link-ig me-4"></a>
          <a href="https://wa.me/358468010967" target="_blank" class="social-icon-link-wa"></a>
        </div>

        <br>

        <p class="copyright-text">© 2025 Helsinki Bachateando ry<br><a href="https://store.hbry.fi/page/privacy-policy" class="site-footer-link">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>

<div id="tt-container">
  <div id="tt-overlay"></div>
  <iframe id="tt-iframe" src="" title="Checkout" frameborder="0" role="dialog"></iframe>
  <div id="tt-spinner" class="spinner-border text-white" role="status"></div>
  <svg id="tt-close" onclick="closeTicketTailor()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
  </svg>
</div>

<script>
document.querySelectorAll('.navbar-collapse a').forEach(e => e.addEventListener('click', () => toggleMenu()));

function toggleMenu() {
  const navbarNav = document.getElementById("navbarNav");
  const shown = navbarNav?.classList.toggle('show');
  document.getElementById("navbarToggler")?.classList.toggle('open', shown);
  document.body.classList.toggle('menu-open', shown);
}

function openTicketTailor() {
  document.body.classList.add('modal-open');
  document.getElementById('tt-container').classList.add('show');

  const iframe = document.getElementById('tt-iframe');
  if (!iframe.src) {
    iframe.src = 'https://www.tickettailor.com/events/helsinkisbk/1445046/book?ref=widget&modal_widget=true&widget=true';
    iframe.addEventListener('load', () => {
      iframe.classList.add('loaded');
      document.getElementById('tt-spinner').classList.add('loaded');
    });
  }
}

function closeTicketTailor() {
  document.body.classList.remove('modal-open');
  document.getElementById('tt-container').classList.remove('show');
}
</script>
{% block content_end %}{% endblock content_end %}

{% endblock body %}