<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Bachata Sauna Festival</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link href="/css/bootstrap.min.css?v={{ get_hash(path='static/css/bootstrap.min.css', sha_type=256) | slugify }}" rel="stylesheet">
  <link href="/css/style.css?v={{ get_hash(path='static/css/style.css', sha_type=256) | slugify }}" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="google" value="notranslate">
  <meta name="format-detection" content="telephone=no">
  {% block head %}{% endblock head %}
</head>

{% block body %}{% endblock body %}

<script src="/js/jquery.min.js?v={{ get_hash(path='static/js/jquery.min.js', sha_type=256) | slugify }}"></script>
<script src="/js/bootstrap.min.js?v={{ get_hash(path='static/js/bootstrap.min.js', sha_type=256) | slugify }}"></script>
<script src="/js/custom.js?v={{ get_hash(path='static/js/custom.js', sha_type=256) | slugify }}"></script>
<script src="https://cdn.tickettailor.com/js/TTWidget.js" async></script>
