<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Bachata Sauna Festival 2025</title>

  <link href="/css/bundle.css?v={{ get_hash(path='sass/css/_style.scss') | slugify }}-{{ get_hash(path='sass/css/bundle.scss') | slugify }}" rel="stylesheet">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Bachata Sauna Festival 2025" />
  <meta property="og:description" content="Bachata dance festival in Helsinki, Finland on June 5 - 8, 2025 that brings together world class instructors and the best dancers in the area" />
  <meta property="og:image" content="https://bachatasauna.fi/images/og.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="google" value="notranslate">
  <meta name="format-detection" content="telephone=no">
  {% block head %}{% endblock head %}
</head>

{% block body %}{% endblock body %}

<script src="https://cdn.tickettailor.com/js/TTWidget.js" async></script>
