{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Code of Conduct</h2>
      </div>

      <div class="col-lg-12 col-12 mb-4 mb-lg-0 d-flex align-items-center">
        <div class="services-info">
          <p>
            Everyone participating in Bachata Sauna Festival commits to respecting the following principles in order to guarantee a safe space for everyone.

            <ol class="coc-list mt-4">
              <li class="mb-4"><b class="header-primary">Everyone is welcome to dance as they are.</b> All dancers are welcome to our dance community regardless of age, gender identity, ethnicity, sexual orientation, accessibility limitations/needs, physical appearance, and beliefs. We try to avoid stereotyping others and strive to create an inclusive, friendly, and warm dance community.</li>

              <li class="mb-4"><b class="header-primary">We treat others with respect and kindness.</b> A comfortable and safe dance community is built by all of us together. Do not criticize, mock, exclude or embarrass others. If you have intentionally or unintentionally offended others, please apologize. Aggressive behavior is not acceptable. Respect the privacy of other dancers.</li>

              <li class="mb-4"><b class="header-primary">We intervene if we experience or witness any inappropriate behavior such as bullying, racism, discrimination, or sexual harassment.</b> If you do not feel safe to intervene yourself, please immediately contact any security personnel or the organizing staff.</li>

              <li class="mb-4"><b class="header-primary">We encourage everyone to dance across skill levels.</b> Do your part to ensure that all dance enthusiasts, including beginners, feel welcome in our dance community. Ask and accept dances with an open mind.</li>

              <li class="mb-4"><b class="header-primary">We respect the autonomy of other dancers.</b> It's fine to politely refuse a dance or stop dancing if you feel uncomfortable at a certain time or with a certain partner. You are not obligated to explain refusal, and you should not demand an explanation or be offended by refusals. However, when refusing a dance, please do so in a kind and considerate manner. A simple and friendly "no thank you" is a lot better than making up excuses or being rude.</li>

              <li class="mb-4"><b class="header-primary">We pay attention to the physical safety of our partner.</b> Strive to dance in a way that feels comfortable and safe for you, your partner, and everyone else around you. There are moves that can be painful and dangerous unless both dancers know the proper technique. These include various dips and head movements. Leaders should choose their moves according to their partner's skill level and strive for clear and soft leading. Do not tear, twist or force movements. Do not do risky moves such as lifts or demanding bends without agreeing to them in advance. As a follower, remember to give the leader the opportunity to lead and do not initiate risky moves yourself without signals from the leader. Always strive to support your own weight.</li>

              <li class="mb-4"><b class="header-primary">We respect the personal space of our partners.</b> When dancing with a partner, be especially sensitive to interpreting the other person's body language and communication. Ask for permission to dance either verbally or with a gestures before you touch your partner. When dancing close to a partner, make sure your partner feels comfortable with the distance. Keep in mind that different people may experience touch and physical proximity in different ways, and perceptions of appropriate dancing distance or manner of touching may vary depending on the dancer, the dance, the dance venue, and other factors. Always ask for confirmation if you are not sure. Don't automatically assume that touching off the dance floor is okay for everyone. Give and ask for space when necessary.</li>

              <li class="mb-4"><b class="header-primary">We avoid commenting on appearance</b>, such as height, weight, or other physical characteristics, especially in situations where you don't know the other person.</li>

              <li class="mb-4"><b class="header-primary">We use gender-neutral terminology for dance roles.</b> Partner dance roles are not gender-specific so strive to use the terms "leader" and "follower".</li>

              <li class="mb-4"><b class="header-primary">We do not teach, advise, or give negative feedback on the dance floor without explicitly being asked for it.</b> We leave teaching for the teachers, unless your dance partner explicitly requests feedback.</li>

              <li class="mb-4"><b class="header-primary">We do not tolerate sexual harassment.</b> Touching intimate areas or forcing intimacy without consent does not belong in our dance scene.</li>

              <li class="mb-4"><b class="header-primary">We are a drug-free event.</b> Consumption of drugs is strictly prohibited and will constitute a reason for dismissal from the event. We also encourage you to avoid alcohol entirely or drink with moderation.</li>
            </ol>

            <p><b>Please contact us if you experience something against the spirit of this Code of Conduct.</b> You can contact one of the staff members wearing the Bachata Sauna badge or send us a message on Instagram or WhatsApp (icons below).</p>

            <p>This Code of Conduct has taken a lot of inspiration from <a href="https://www.salsaborealis.fi/?page_id=2263">Salsa Borealis</a> and <a href="https://www.helsinkidancecentral.com/community-guidelines">Helsinki Dance Central</a>.</p>

            <p>Thank you for helping us create a warm, kind, and friendly festival. Happy dancing!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}