{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mb-4">
        <h2>Hotel & Transportation</h2>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Main hotel: Noli</h3>
          <p>Noli Sörnäinen is a stylish aparthotel offering studios with amenities like a gym, sauna, and co-working spaces. It's located very close to the venue in a vibrant area known for its urban arts and nightlife. 700 meter walk to venue, 24 hour grocery store and many restaurants nearby, airport bus stop in front (35min total, 4.40€), and easy public transportation access (bus, metro, tram) to explore Helsinki.

          <p><a href="https://store.hbry.fi/product/main-hotel-bachata-sauna-festival">More info & booking→</a></p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Budget hotel: Heymo 1</h3>
          <p>Heymo 1 by Sokos Hotels offers budget-friendly and hassle-free accommodations. It's a bit further away from the venue, but you can use the metro (or taxi). In return, the prices are significantly lower than at the main hotel.</p>

          <p><a href="/hotel-heymo">More info & booking →</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}