{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2 class="header-primary">Heymo 1</h2>
        <h4>Budget hotel</h4>
      </div>

      <div class="col-12">
        <div class="services-info">
          <p><span class="badge">Budget-friendly</span> <span class="badge">Metro to venue</span> <span class="badge">New building</span> <span class="badge">Modern design</span></p>
          <p>Heymo 1 by Sokos Hotels offers budget-friendly and hassle-free accommodations. The hotel is conveniently located near the Keilaniemi metro station and scenic coastal views.</p>

          <p><b>Address:</b> Miestentie 5, 02150 Espoo</p>

          <h4 class="header-primary mt-4">Transportation</h4>

          <ul>
            <li><b>Metro to venue:</b> 30min including walking (single ticket 3.20€, multi-day tickets available)</li>
            <li><b>Airport access:</b> 55min total with train + metro (single ticket 4.40€)</li>
          </ul>

          <p><b>Note:</b> Earliest metro to the hotel from the venue departs 05:15 in the morning & last metro from the hotel to the venue departs at 23:30 in the evening. If you dance all night, you can easily use the metro. If you need to go back to the hotel during the night when the metro is not operating, we recommend Bolt/Uber (25€ to 30€ because alterantive public transportation options will take over an hour and require changing vehicles.</p>

          <h4 class="header-primary mt-4">Room options</h4>

          <div class="row mt-4 mb-4">
            <div class="col-xxl-4 col-lg-6 col-12 mb-4">
              <div class="pricing-thumb">
                <div class="d-flex">
                  <div>
                    <h5 class="header-primary">1/2 persons</h5>
                  </div>
                </div>

                <p>Standard 18m2 room with <b>2x single beds</b> or <b>1x double bed</b>.</p>

                <ul class="mb-0">
                  <li><b>2 nights:</b> 120€</li>
                  <li><b>3 nights:</b> 180€</li>
                  <li><b>4 nights:</b> 240€</li>
                </ul>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-6 col-12 mb-4">
              <div class="pricing-thumb">
                <div class="d-flex">
                  <div>
                    <h5 class="header-primary">3 persons</h5>
                  </div>
                </div>

                <p>Standard 20m2 room with <b>3x single beds</b>.</p>

                <ul class="mb-0">
                  <li><b>2 nights:</b> 160€</li>
                  <li><b>3 nights:</b> 245€</li>
                  <li><b>4 nights:</b> 330€</li>
                </ul>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-6 col-12 mb-4">
              <div class="pricing-thumb">
                <div class="d-flex">
                  <div>
                    <h5 class="header-primary">7 persons</h5>
                  </div>
                </div>

                <p>Apartment (55m2) with 3 rooms and 3 bathrooms. First room <b>1x queen bed</b>, second room <b>3x single beds</b>, third room <b>1x convertible queen bed</b>.</p>

                <ul class="mb-0">
                  <li><b>2 nights:</b> 305€</li>
                  <li><b>3 nights:</b> 470€</li>
                  <li><b>4 nights:</b> 635€</li>
                </ul>
              </div>
            </div>
          </div>

          <h4 class="header-primary">Booking</h4>

          <p>You must contact us to book this hotel. Please email us at <b>contact@bachatasauna.fi</b> to reserve and we will send you the bank transfer details to confirm your booking. Please be sure to include the dates, how many people, and how many nights you want to book.</p>

          <h4 class="header-primary mt-5">Photos</h4>

          <div class="row mt-4">
            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-1.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-2.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-3.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-4.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-5.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-6.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-7.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-8.webp?v=1" class="about-image img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}