{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2 class="header-primary">Noli Sörnäinen</h2>
        <h4>Main hotel</h4>
        <p class="mb-0"><a href="https://maps.app.goo.gl/vuRtYKyaDbDEFtC38">Hämeentie 33, 00500 Helsinki</a></p>
      </div>

      <div class="col-12">
        <div class="services-info">
          <p><span class="badge">Walking distance to venue</span> <span class="badge">Modern design</span> <span class="badge">Gym</span> <span class="badge">Sauna</span> <span class="badge">Spa</span> <span class="badge">Rooftop terrace</span> <span class="badge">Restaurants nearby</span> <span class="badge">24h grocery store nearby</span> </p>
          <p>Noli Sörnäinen is a stylish aparthotel offering studios with amenities including a gym, sauna, and co-working spaces. It's only a 700 meter walk from the main venue in a vibrant area known for its urban arts and nightlife. 24 hour grocery store and many restaurants nearby, airport bus stop in front, and easy public transportation access to explore Helsinki.</p>

          <h4 class="header-primary mt-4">Transportation</h4>

          <ul>
            <li><b>Walk to venue:</b> 8min walk (700 meters)</li>
            <li><b>Airport access:</b> Airport bus stop in front of hotel (35min total, single ticket 4.40€)</li>
            <li><b>City exploration:</b> Metro/bus/tram stops next to hotel (single ticket 3.20€, multi-day tickets available)</li>
          </ul>

          <h4 class="header-primary mt-4">Room options</h4>

          <div class="row mt-4 mb-4">
            <div class="col-xxl-4 col-lg-6 col-12 mb-4">
              <div class="pricing-thumb">
                <div class="d-flex">
                  <div>
                    <h5 class="header-primary">Double room</h5>
                  </div>
                </div>

                <p>Fully furnished 20m2 studio with <b>double bed</b> (140cm) for two, kitchen, washing machine & private bathroom.</p>

                <ul class="mb-0">
                  <li><b>2 nights:</b> SOLD OUT</li>
                  <li><b>3 nights:</b> SOLD OUT</li>
                  <li><b>4 nights:</b> SOLD OUT</li>
                </ul>
              </div>
            </div>
          </div>

          <h4 class="header-primary mt-5">Check-in and check-out</h4>

          <p>Self-service check-in is available from 15:00 onwards. Check-out is at 11:00. Late check-out at 13:00 is available for 30€.</p>

          <h4 class="header-primary mt-5">Photos</h4>

          <div class="row mt-4">
            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-1.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-2.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-3.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-4.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-5.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-6.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-7.webp?v=2" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/noli-8.webp?v=2" class="about-image img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}