{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mb-4">
        <h2>Hotels</h2>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Main hotel: Noli</h3>
          <p>Noli is a stylish aparthotel offering studios with amenities including a gym, sauna, and co-working spaces. It's only a 700 meter walk away the main venue in a vibrant area known for its urban arts and nightlife.

          <p><b>SOLD OUT</b></p>

          <p class="mb-5"><a href="/hotel-noli">More info & booking →</a></p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Budget hotel: Heymo 1</h3>
          <p>Heymo 1 offers budget-friendly accommodations in a new, modern building. It's a bit further away from the venue, but you can easily use the metro (or taxi). In return, the prices are much lower than at the main hotel.</p>

          <p>Prices from <b>80€/night</b> for 2 persons and <b>150€/night</b> for 7 persons.</p>

          <p><a href="/hotel-heymo">More info & booking →</a></p>
        </div>
      </div>

      <div class="col-lg-8 col-12 mt-4 mb-4">
        <h2>Hostels</h2>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">CheapSleep</h3>
          <p>For the cheapest option nearby, we recommend <a href="https://www.cheapsleep.fi/">CheapSleep Hostel</a>, which is located fairly close to the main venue (25min walk) and is right next to a 24 hour grocery store.</p>

          <p>Use the <b>BACHATASAUNA</b> promo code for a 15% discount. Dorm rooms from <b>24€/night</b>, twin rooms from <b>80€/night</b>, and triple rooms from <b>100€/night</b> with discount.</p>

          <p><a href="https://hotels.cloudbeds.com/reservation/Ev6ssS?widget=1&lang=en#checkin=2025-06-06&checkout=2025-06-08&promo=BACHATASAUNA">Book with discount →</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}