{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2 class="header-primary">Heymo 1</h2>
        <h4>Budget hotel</h4>
      </div>

      <div class="col-12">
        <div class="services-info">
          <p><span class="badge">Budget-friendly</span> <span class="badge">Metro to venue</span> <span class="badge">New building</span> <span class="badge">Modern design</span></p>
          <p>Heymo 1 by Sokos Hotels offers budget-friendly and hassle-free accommodations. The hotel is conveniently located near the Keilaniemi metro station and scenic coastal views.</p>

          <h3 class="header-primary">Booking</h3>

          <p>You must contact us to book this hotel. Please email us at <b>contact@bachatasauna.fi</b> to reserve and we will send you the bank transfer details to confirm your booking. Please be sure to include the dates, how many people, and how many nights you want to book.</p>

          <h5 class="header-primary">Transportation</h5>

          <ul>
            <li><b>Metro to venue:</b> 30min including walking (single ticket 3.20€, multi-day tickets available)</li>
            <li><b>Airport access:</b> 55min total with train + metro (single ticket 4.40€)</li>
          </ul>

          <p><b>Note:</b> Earliest metro to the hotel from the venue departs 05:15 in the morning & last metro from the hotel to the venue departs at 23:30 in the evening. If you dance all night, you can easily use the metro. If you need to go back to the hotel during the night when the metro is not operating, we recommend Bolt/Uber (25€ to 30€ because alterantive public transportation options will take over an hour and require changing vehicles.</p>

          <h5 class="header-primary">Rooms for 1/2 persons</h5>

          <p>Compact and modern space (18m2) featuring <b>2x single beds</b> or <b>1x double bed</b>.</p>

          <ul>
            <li><b>Thursday - Monday</b> (4 nights): 240€</li>
            <li><b>Friday - Monday</b> (3 nights): 180€</li>
            <li><b>Thursday - Sunday</b> (3 nights): 180€</li>
            <li><b>Friday - Sunday</b> (2 nights): 120€</li>
          </ul>

          <h5 class="header-primary">Rooms for 3 persons</h5>

          <p>Compact and modern space (20m2) featuring <b>3x single beds</b>.</p>

          <ul>
            <li><b>Thursday - Monday</b> (4 nights): 330€</li>
            <li><b>Friday - Monday</b> (3 nights): 245€</li>
            <li><b>Thursday - Sunday</b> (3 nights): 245€</li>
            <li><b>Friday - Sunday</b> (2 nights): 160€</li>
          </ul>

          <h5 class="header-primary">Apartment for 7 persons</h5>

          <p>Modern group apartment (55m2) consisting of 3 separate rooms, each with its own bathroom. First room has one queen-sized bed, second room has 3 single beds, third room has a convertible queen bed.</p>

          <ul>
            <li><b>Thursday - Monday</b> (4 nights): 635€</li>
            <li><b>Friday - Monday</b> (3 nights): 470€</li>
            <li><b>Thursday - Sunday</b> (3 nights): 470€</li>
            <li><b>Friday - Sunday</b> (2 nights): 305€</li>
          </ul>

          <div class="row mt-5">
            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-1.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-2.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-3.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-4.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-5.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-6.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-7.webp?v=1" class="about-image img-fluid">
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="about-text-wrap mb-4">
                <img src="images/heymo-8.webp?v=1" class="about-image img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}