{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mb-4">
        <h2>Hotel & Transportation</h2>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Noli, Sörnäinen (main hotel)</h3>
          <p>Noli Sörnäinen is a stylish aparthotel in Helsinki's Sörnäinen district, offering studios with amenities like a gym, sauna, co-working spaces, and communal areas, located in a vibrant area known for its urban arts and nightlife.</p>

          <ul>
            <li>Walking distance to venue (700 meters)</li>
            <li>24h grocery store and many restaurants nearby</li>
            <li>Airport bus stop next to hotel (35min total, 4.40€)</li>
            <li>Easy public transportation access (bus, metro, tram) to explore Helsinki</li>
          </ul>

          <p>Double bed rooms available from <b>175€ for 2 nights</b></p>
          <p><a href="https://store.hbry.fi/product/main-hotel-bachata-sauna-festival">More info & booking→</a></p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="services-info">
          <h3 class="header-primary">Heymo 1, Otaniemi (2nd hotel)</h3>
          <p>Heymo 1 by Sokos Hotels offers budget-friendly and hassle-free accommodations. The hotel is conveniently located near the Keilaniemi metro station and scenic coastal trails.</p>

          <ul>
            <li>Metro to venue (30min including walking)</li>
            <li>Airport access via train + metro (55min total, 4.40€)</li>
            <li>Cheapest option</li>
          </ul>

          <p><b>Note:</b> Earliest metro to the hotel from the venue departs 05:15 in the morning & last metro from the hotel to the venue departs at 23:30 in the evening. If you dance all night, you can easily use the metro (single ticket 3.20€, multi-day tickets available). If you need to go back to the hotel during the night when the metro is not operating, we recommend Bolt/Uber for about 25€ - 30€ because alterantive public transportation options will take over an hour.</p>

          <p>Twin bed rooms available from <b>140€ for 2 nights</b>, triple bed rooms available from <b>180€ for 2 nights</b>, 7 bed rooms available from <b>305€ for 2 nights</b>.</p>
          <p>(booking link coming soon)</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}