{% extends "_content.html" %}

{% block content %}
<section class="hero-section section-padding" id="about"></section>

<section class="about-section section-padding section-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <p>Welcome to the 2nd edition of the top summer bachata dance festival in <b>Helsinki, Finland</b> on <b>June 5 - 8, 2025</b>!</p>

          <h6 class="header-primary mt-4">Top Line-up</h6>
          <p>We're bringing the <b>biggest and most talented line-up of bachata artists</b> to Finland, ever. <a href="/#artists">More info →</a></p>

          <h6 class="header-primary mt-4">Top Venue</h6>
          <p>Social dancing is our priority so we've picked a venue that's perfect for dancing all night long. <a href="/#venue">More info →</a></p>

          <h6 class="header-primary mt-4">Outdoor Socials</h6>
          <p>Don't miss the outdoor socials at the peak of the summer when the city blossoms into a paradise of green with over 19 hours of daylight! <a href="/schedule">More info →</a></p>

          <h6 class="header-primary mt-4">Social Competition</h6>
          <p>Compete with the best dancers in the area in a competition organized by the renowned Warsaw Bachata Meetup. <a href="/social-competition">More info →</a></p>

          <h6 class="header-primary mt-4">Mastery Track</h6>
          <p class="mb-0">The 6 hours of Mastery Track workshops will help you master the small details in an intimate group with level screening. <a href="/mastery-track">More info →</a></p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap">
          <img src="images/helsinki.webp" class="about-image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="artists-section section-padding section-bg-2" id="artists">
  <div class="container">
    <div class="col-12 mb-4">
      <h2 class="header-index">Meet the <span class="header-index-highlight">Artists</span></h2>
    </div>

    <div class="col-12 mb-4 d-flex">
      <div class="services-info">
        <p>We've handpicked some of the most talented bachata artists in the world to teach and inspire us. We have paid special attention to their musicality, playfulness, connection and of course their teaching abilities — don't miss their 20+ hours of workshops! We are also putting together a fantastic supporting crew with <a href="https://www.instagram.com/azuravvv/">Arturas</a> shooting super high quality videos, <a href="https://www.instagram.com/dj.dia92/">DJ Dia</a> playing great music (without ruining the songs with mixing or effects!), and <a href="https://www.instagram.com/sr.tarazona/">MC Ro-Dri</a> keeping us well-entertained. Stay tuned for more announcements!</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row flex-nowrap overflow-scroll artists-row">
      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/ofir-ofri.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Ofir & Ofri</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ofirandofri_official" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/irene-tomas.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Irene & Tomas</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ireneytomas" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/kornel-catharine.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Kornel & Catharine</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/kornelandcatharine" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/owen-eva.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Owen & Eva</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/owenyeva" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/jeremy-forma.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Jeremy & Forma</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/jeremy.sensualfusionflow" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/sorush-elise.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Sorush & Elise</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/sorush_elise_bachata" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/erik-katinka.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Erik & Katinka</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/erikkatinka_bachata" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/gregory-karolina.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Gregory & Karolina</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ashyleni" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/ash-leni.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Ash & Leni</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ashyleni" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/pinja-sibel.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Pinja & Sibel</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/pinjaxsibel" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/niklas-noora.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Niklas & Noora</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/nniemi88" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/villehart.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Villehart</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/villehartqvickstrom" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/sanna.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Sanna</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/sanna.tuomola" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section section-padding section-bg-3" id="venue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-4">
        <h2 class="header-index">Meet the <span class="header-index-highlight">Venue</span></h2>
      </div>

      <div class="col-12 mb-4 d-flex">
        <div class="services-info">
          <p>Cirko is an excellent venue in an industrial area known for hosting some of the biggest festivals in Helsinki. We are social dancers first and foremost so we are making sure that it will be the perfect place to dance all night long with all of the essentials well taken care of. For example, we will be brining in huge industrial fans to make sure space is ventilated properly and we will be providing free water & snacks to help you stay energized and hydrated.</p>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="about-text-wrap mb-4">
          <img src="images/cirko-2.webp?v=1" class="about-image img-fluid">
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="about-text-wrap mb-4">
          <img src="images/cirko-1.webp?v=1" class="about-image img-fluid">
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="about-text-wrap mb-4">
          <img src="images/cirko-3.webp?v=1" class="about-image img-fluid">
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="about-text-wrap mb-4">
          <img src="images/cirko-4.webp?v=1" class="about-image img-fluid">
        </div>
      </div>

      <div class="col-12 mt-3 d-flex">
        <div class="services-info">
          <p class="text-center"><span class="badge">500m2 venue</span> <span class="badge">300m2 wood floor</span> <span class="badge">Pro sound system</span> <span class="badge">Party lighting</span> <span class="badge">Industrial ventilation</span> <span class="badge">Restaurant</span> <span class="badge">Bar</span> <span class="badge">Free water</span> <span class="badge">Free snacks</span></p>

          <p><b>Venue address:</b> Kaasutehtaankatu 1, 00540 Helsinki</p>
          <p class="mb-0">Cirko is conveniently located near lots of metro, bus, and tram connections. Use the <a href="https://www.hsl.fi/en">HSL journey planner</a> to find the fastest public transportation options or use our free parking if you're driving. The <a href="https://www.redi.fi/en/stores-and-services/" target="_blank">Redi shopping center</a> is also right next to Cirko for quick access to lots of grocery stores and restaurants.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-section section-padding section-bg-4" id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2 class="header-index">Get your <span class="header-index-highlight">Tickets</span></h2>
      </div>

      <div class="col-xl-4 col-md-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h4 class="header-primary">Full Pass</h4>
            </div>
          </div>

          <h6 class="price-header"><span class="pass-price">149€+</span> for <span class="pass-finland">locals</span> 🇫🇮</h6>
          <h6 class="price-header"><span class="pass-price">129€+</span> for <span class="pass-international">international visitors</span> ✈️</h6>

          <p class="mb-0">Includes all day Friday - Sunday socials, parties & workshops <b>except</b> the Mastery Track. Thursday pre-party not included.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h4 class="header-primary">Mastery Track</h4>
            </div>
          </div>

          <h6 class="price-header"><span class="pass-price">49€</span> upgrade for full pass</h6>
          <h6 class="price-header"><span class="pass-price">155€</span> combo with party pass</h6>

          <p class="mb-0">The exclusive 6 hour <a href="/mastery-track">mastery track</a> is meant for high level dancers. Mandatory level screening and 20 couple limit.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h4 class="header-primary">Party Pass</h4>
            </div>
          </div>

          <h6 class="price-header"><span class="pass-price">80€</span></h6>

          <p class="mb-0">Includes all Friday - Sunday socials & parties. Thursday pre-party not included.</p>
        </div>
      </div>

      <div class="custom-form mt-4">
        <div class="col-xl-4 col-md-6 col-12 mx-auto">
          <button onclick="openTicketTailor()" class="form-control button-ticket">Buy Tickets</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}

{% block content_end %}
<script>
(function () {
  const documentVisibilityObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.querySelector('video')?.play();
      } else {
        entry.target.querySelector('video')?.pause();
      }
   });
  }, {
    threshold: [0, 0.01],
  });

  const artistsRow = document.querySelector('.artists-row');
  const rowVisibilityObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      entry.target.classList.toggle('visible', entry.intersectionRatio === 1.0);
    });
  }, {
    root: artistsRow,
    threshold: [0.99, 1.0],
  });

  artistsRow.querySelectorAll('.artists-thumb').forEach(thumb => {
    documentVisibilityObserver.observe(thumb);
    rowVisibilityObserver.observe(thumb);

    const video = thumb.querySelector('video');
    video?.addEventListener('mouseup', () => video.play());
    video?.addEventListener('touchend', () => video.play());
  });
})();
</script>
{% endblock content_end %}
