{% extends "_content.html" %}

{% block content %}
<section class="hero-section section-padding"></section>

<section class="about-section section-padding section-bg" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <h2 class="text-white mb-4">Bachata Sauna 2025</h2>

          <p>Welcome to the 2nd edition of the top summer bachata dance festival in Helsinki, Finland on June 5 - 8, 2025!</p>

          <h6 class="header-primary mt-4">Top Line-up</h6>
          <p>We're bringing the <b>biggest and most talented line-up of bachata artists</b> to Finland, ever. Our world class instructors will be holding over 20 hours of workshops to teach and inspire us! <a href="/#artists">More info →</a></p>

          <h6 class="header-primary mt-4">Top Venue</h6>
          <p>Social dancing is our priority so we've picked a venue that's perfect for dancing all night long. <a href="/#venue">More info →</a></p>

          <h6 class="header-primary mt-4">Top Weather</h6>
          <p>Join us at the peak of the summer when the city blossoms into a paradise of green with over 19 hours of daylight! We'll also have several <b>outdoor socials</b> to make the most of the summer.</p>

          <h6 class="header-primary mt-4">Social Competition</h6>
          <p>Compete with some of the best dancers in the area at the first Finland Bachata Social Competition organized by the renowned Warsaw Bachata Meetup. <a href="/social-competition">More info →</a></p>

          <h6 class="header-primary mt-4">Mastery Track</h6>
          <p>Almost a pro already? The 6 hours of Mastery Track workshops will help you master the small details in an intimate group with level screening. <a href="/mastery-track">More info →</a></p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap">
          <img src="images/helsinki.webp" class="about-image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="artists-section section-padding section-bg" id="artists">
  <div class="container-fluid">
    <div class="col-12 text-center mb-5">
      <h2>Meet the Artists</h2>
    </div>

    <div class="row flex-nowrap overflow-scroll artists-row">
      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/ofir-ofri.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Ofir & Ofri</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ofirandofri_official" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/irene-tomas.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Irene & Tomas</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ireneytomas" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/kornel-catharine.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Kornel & Catharine</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/kornelandcatharine" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/owen-eva.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Owen & Eva</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/owenyeva" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/jeremy-forma.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Jeremy & Forma</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/jeremy.sensualfusionflow" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/sorush-elise.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Sorush & Elise</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/sorush_elise_bachata" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/erik-katinka.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Erik & Katinka</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/erikkatinka_bachata" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/gregory-karolina.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Gregory & Karolina</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ashyleni" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/ash-leni.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Ash & Leni</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/ashyleni" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/pinja-sibel.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Pinja & Sibel</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/pinjaxsibel" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/niklas-noora.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Niklas & Noora</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/nniemi88" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/villehart.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Villehart</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/villehartqvickstrom" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="artists-item">
        <div class="artists-thumb">
          <video preload="none" loop muted playsInline class="custom-video artists-video" poster="images/poster.png">
            <source src="https://helsbk.github.io/bachatasauna.fi/video/sanna.mp4" type="video/mp4">
          </video>

          <div class="artists-info d-flex justify-content-between">
            <div>
              <h5>Sanna</h5>
            </div>

            <div class="d-flex">
              <a href="https://www.instagram.com/sanna.tuomola" target="_blank" class="artists-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section section-padding section-bg" id="venue">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 text-center mb-5">
        <h2>Meet the Venue</h2>
      </div>

      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <p>The main venue on Friday, Saturday, and Sunday will be Cirko, an excellent venue in an industrial area known for hosting some of the biggest festivals in Helsinki. Cirko is perfect for our workshops & parties:</p>

          <ul>
            <li>500m2 venue with 300m2 wooden dance floor
            <li>Excellent party lighting & high quality sound system
            <li>Big industrial fans & air conditioners for cooling
            <li>Free water & snacks
            <li>Restaurant & bar in the same building
            <li>Restaurants & grocery stores 5min walk away at Redi shopping center
            <li>Lots of metro, tram, and bus options as well as free parking
          </ul>

          <p><b>Main venue address:</b> Kaasutehtaankatu 1, 00540 Helsinki, Finland</p>
          <p>Secondary venue is right next to the main venue.</p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap">
          <img src="images/cirko.webp" class="about-image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-section section-padding section-bg" id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2>Tickets</h2>
      </div>

      <div class="col-lg-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h3 class="header-primary">Full Pass</h3>
            </div>
          </div>

          <p>Includes all day Friday - Sunday socials, parties & workshops <b>except</b> the Mastery Track. Thursday pre-party not included.</p>

          <p><b>Current price until May 1:</b> From 145€/person for Finland residents</p>
          <p class="mb-0"><b>🌍✈️ Visiting from another country?</b> Discounted international pass available from 115€/person, no promo code needed. Scroll down on the ticket page.</p>
        </div>
      </div>

      <div class="col-lg-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h3 class="header-primary">Mastery Track Upgrade</h3>
            </div>
          </div>

          <p>The exclusive 6 hour mastery track is meant for high level dancers. Mandatory level screening and 20 couple limit.</p>

          <p><a href="/mastery-track">More info →</a></p>

          <p class="mb-0"><b>Current price until May 1:</b> 49€ with full pass</p>
        </div>
      </div>

      <div class="col-lg-6 col-12 mb-4">
        <div class="pricing-thumb">
          <div class="d-flex">
            <div>
              <h3 class="header-primary">Party Pass</h3>
            </div>
          </div>

          <p>Includes all Friday - Sunday socials & parties. Thursday pre-party not included.</p>

          <p><b>Current price until May 1:</b> 65€</p>
        </div>
      </div>

      <div class="custom-form mt-4">
        <div class="col-lg-4 col-12 mx-auto">
          <button onclick="TTWidget.loadEvent('helsinkisbk',1445046, 'widget');" class="form-control">Buy Tickets</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}

{% block content_end %}
<script>
(function () {
  const documentVisibilityObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      console.log('isIntersecting', entry.intersectionRatio)
      if (entry.isIntersecting) {
        entry.target.querySelector('video')?.play();
      } else {
        entry.target.querySelector('video')?.pause();
      }
   });
  }, {
    threshold: [0, 0.01],
  });

  const artistsRow = document.querySelector('.artists-row');
  const rowVisibilityObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      entry.target.classList.toggle('visible', entry.intersectionRatio === 1.0);
    });
  }, {
    root: artistsRow,
    threshold: [0.99, 1.0],
  });

  artistsRow.querySelectorAll('.artists-thumb').forEach(thumb => {
    documentVisibilityObserver.observe(thumb);
    rowVisibilityObserver.observe(thumb);

    const video = thumb.querySelector('video');
    video?.addEventListener('mouseup', () => video.play());
    video?.addEventListener('touchend', () => video.play());
  });
})();
</script>
{% endblock content_end %}
