{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 mb-4">
        <h2>Mastery Track</h2>
      </div>

      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <p>The exclusive 6 hour mastery track is meant for high level dancers who already have good foundations of bachata technique. Mandatory level screening and a maximum limit of 20 couples to ensure that the teachers can focus on advanced concepts:</p>

          <ul>
            <li>2 hours with Kornel & Catharine (Friday) focusing on musicality</li>
            <li>2 hours with Irene & Tomas (Saturday) focusing on linking sensual bachata techniques</li>
            <li>2 hours with Kornel & Catharine (Sunday) focusing on more musicality</li>
          </ul>

          <h5 class="header-primary mt-4">Apply</h5>

          <p><b>You must be approved before registering for the mastery track.</b> These workshops are most useful for very experienced social dancers with good technique. Some of the attendees are local teachers, for example. If you don't already have a great basic step (e.g. proper weight transfer) and decent musicality (e.g. catching almost all breaks), these workshops will not be suitable for you.</p>

          <p>To apply for the mastery track, please share a social dancing video of yourself via Instagram (<a href="https://www.instagram.com/bachatasauna/">@bachatasauna</a>). You can also send it via WhatsApp (icon below), or via email to: contact (ät) bachatasauna.fi</p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap mb-4">
          <img src="images/mastery.webp" class="about-image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
