{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 mb-4">
        <h2>Mastery Track</h2>
      </div>

      <div class="col-lg-12 col-12 mb-4 mb-lg-0 d-flex align-items-center">
        <div class="services-info">
          <p>The exclusive 6 hour mastery track is meant for high level dancers who already have good foundations of bachata technique. Mandatory level screening and a maximum limit of 20 couples to ensure that the teachers can focus on advanced concepts.</p>

          <ul>
            <li>2 hours with Kornel & Catharine (Friday) focusing on musicality</li>
            <li>2 hours with Irene & Tomas (Saturday) focusing on linking sensual bachata techniques</li>
            <li>2 hours with Kornel & Catharine (Sunday) focusing on more musicality</li>
          </ul>

          <p><b style="color: red;">IMPORTANT:</b> You must be approved before registering for the mastery track. Please send a social dancing video of yourself to <a href="https://www.instagram.com/bachatasauna/">@bachatasauna</a> or via email to: contact (ät) helsbk.org</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}