{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Preliminary Schedule</h2>
      </div>

      <div class="col-lg-12 col-12 mb-4 mb-lg-0 d-flex align-items-center">
        <div class="services-info">
          <p>This is a preliminary schedule to help you with planning. We'll release the exact schedule at least 30 days before the event.</p>

          <h6 class="header-primary mt-4">Thursday, June 5</h6>
          <p>Outdoor venue (indoor if bad weather):</p>
          <ul>
            <li><b>18:30 - 19:30:</b> Outdoor workshop</li>
            <li><b>19:30 - 01:00:</b> Outdoor social</li>
          </ul>

          <h6 class="header-primary mt-4">Friday, June 6</h6>
          <p>Main venue:</p>
          <ul>
            <li><b>14:00 - 17:00:</b> Outdoor day social</li>
            <li><b>17:30 - 20:30:</b> Workshops<br><b style="opacity: 0.5;">SHORT BREAK</b></li>
            <li><b>21:00 - 22:00:</b> Pre-party workshop (Ofir & Ofri)</li>
            <li><b>22:00 - 05:00:</b> Party (non-stop music without interruptions)</li>
          </ul>

          <p>Secondary venue:</p>
          <ul>
            <li><b>18:30 - 20:30:</b> Mastery track 2h workshop</li>
          </ul>

          <h6 class="header-primary mt-4">Saturday, June 7</h6>
          <p>Main venue:</p>
          <ul>
            <li><b>11:00 - 14:00:</b> Workshops<br><b style="opacity: 0.5;">LUNCH BREAK</b></li>
            <li><b>15:00 - 18:00:</b> Workshops<br><b style="opacity: 0.5;">DINNER BREAK</b></li>
            <li><b>20:00 - 21:00:</b> Social competition semi-final</li>
            <li><b>21:00 - 22:00:</b> Pre-party workshop (Irene & Tomas)</li>
            <li><b>22:00 - 06:00:</b> Party with social competition final around 00:00 - 00:30</li>
          </ul>

          <p>Secondary venue:</p>
          <ul>
            <li><b>13:00 - 15:00:</b> Mastery Track 2h workshop</li>
            <li><b>15:00 - 17:00:</b> Social competition elimination</li>
          </ul>

          <p>We may also have an outdoor day social on Saturday, more info TBD!</p>

          <h6 class="header-primary mt-4">Sunday, June 8</h6>
          <p>Main venue:</p>
          <ul>
            <li><b>12:00 - 14:00:</b> Workshops<br><b style="opacity: 0.5;">LUNCH BREAK</b></li>
            <li><b>14:30 - 16:30:</b> Workshops</li>
            <li><b>16:30 - 18:30:</b> Mastery Track 2h workshop<br><b style="opacity: 0.5;">DINNER BREAK</b></li>
          </ul>

          <p>Outdoor venue (indoor if bad weather):</p>
          <ul>
            <li><b>20:00 - 02:00:</b> Outdoor social</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}