{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 mb-4">
        <h2 class="mb-4">Schedule</h2>
        <p><a href="#info">Level & location info →</a></p>
      </div>

      <div class="col-lg-6 col-md-9 col-12 pe-lg-4 mb-5">
        <h4 class="header-primary mb-4">Thursday, June 5</h4>

        <ul class="schedule-list">
          <li class="schedule-item schedule-l1">
            <div>
              <div class="schedule-title">Ash & Leni</div>
              <div class="schedule-time">18:15 - 19:15 • Ooppera • L1</div>
            </div>

            <img class="schedule-image" src="/images/artist/al.png">
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social</div>
              <div class="schedule-time">19:15 - 01:00 • Ooppera</div>
              <div class="schedule-time">DJ Babak • DJ Dia</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-9 col-12 pe-lg-4 mb-5">
        <h4 class="header-primary mb-4">Friday, June 6</h4>

        <ul class="schedule-list">
          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social <small>(Dominican Bachata)</small></div>
              <div class="schedule-time">14:00 - 17:00 • Kalasatama</div>
              <div class="schedule-time">DJ Plofe</div>
            </div>
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Irene & Tomas</div>
              <div class="schedule-time">18:00 - 18:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/it.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Ofir & Ofri</div>
              <div class="schedule-time">19:00 - 21:00 (2h) • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/oo.png">
          </li>

          <li class="schedule-item schedule-m">
            <div>
              <div class="schedule-title">Kornel & Catharine</div>
              <div class="schedule-time">19:00 - 21:00 (2h) • Cirko • L3</div>
            </div>

            <img class="schedule-image" src="/images/artist/kc.png">
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Night Party</div>
              <div class="schedule-time">21:00 - 04:00 • Cirko</div>
              <div class="schedule-time">DJ Dia • DJ Roberto • DJ Puxa<sup>2</sup></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-9 col-12 pe-lg-4 mb-5">
        <h4 class="header-primary mb-4">Saturday, June 7</h4>

        <ul class="schedule-list">
          <li class="schedule-item schedule-l1">
            <div>
              <div class="schedule-title">Sanna <small>(Ladies Styling)</small></div>
              <div class="schedule-time">12:00 - 12:50 • Cirko • L1</div>
            </div>

            <img class="schedule-image" src="/images/artist/s.png">
          </li>

          <li class="schedule-item schedule-l1">
            <div>
              <div class="schedule-title">Villehart <small>(Men Styling)</small></div>
              <div class="schedule-time">13:00 - 13:50 • Cirko • L1</div>
            </div>

            <img class="schedule-image" src="/images/artist/v.png">
          </li>

          <li class="schedule-item schedule-l1">
            <div>
              <div class="schedule-title">Pinja & Sibel <small>(Role Rotation)</small></div>
              <div class="schedule-time">13:00 - 13:50 • Circus • L1</div>
            </div>

            <img class="schedule-image" src="/images/artist/ps.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Ofir & Ofri</div>
              <div class="schedule-time">14:00 - 14:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/oo.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Kornel & Catharine</div>
              <div class="schedule-time">15:00 - 15:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/kc.png">
          </li>

          <li class="schedule-item schedule-m">
            <div>
              <div class="schedule-title">Irene & Tomas</div>
              <div class="schedule-time">15:00 - 17:00 (2h) • Cirko • L3</div>
            </div>

            <img class="schedule-image" src="/images/artist/it.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Sorush & Elise</div>
              <div class="schedule-time">16:00 - 16:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/se.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Jeremy & Forma</div>
              <div class="schedule-time">17:00 - 17:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/jf.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Owen & Eva</div>
              <div class="schedule-time">18:00 - 18:50 • Circus • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/oe.png">
          </li>

          <li class="schedule-item schedule-c">
            <div>
              <div class="schedule-title">Competition Elimination</div>
              <div class="schedule-time">18:00 - 19:30 • Cirko</div>
            </div>
          </li>

          <li class="schedule-item schedule-c">
            <div>
              <div class="schedule-title">Competition Semi-final</div>
              <div class="schedule-time">20:30 - 21:30 • Cirko</div>
            </div>
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Night Party</div>
              <div class="schedule-time">21:30 - 05:00 • Cirko</div>
              <div class="schedule-time">DJ Dia • DJ Roberto • DJ Puxa<sup>2</sup></div>
            </div>
          </li>

          <li class="schedule-item schedule-c">
            <div>
              <div class="schedule-title">Competition Final</div>
              <div class="schedule-time">01:00 - 01:30 • Cirko</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-9 col-12 pe-lg-4 mb-5">
        <h4 class="header-primary mb-4">Sunday, June 8</h4>

        <ul class="schedule-list">
          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social <small>(50% Dominican Bachata)</small></div>
              <div class="schedule-time">13:00 - 16:00 • Kalasatama</div>
              <div class="schedule-time">DJ Nanzi</div>
            </div>
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Jeremy & Forma</div>
              <div class="schedule-time">13:00 - 13:50 • Cirko • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/jf.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Gregory & Karolina</div>
              <div class="schedule-time">14:00 - 14:50 • Cirko • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/gk.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Owen & Eva</div>
              <div class="schedule-time">15:00 - 15:50 • Cirko • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/oe.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Ash & Leni</div>
              <div class="schedule-time">16:00 - 16:50 • Cirko • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/al.png">
          </li>

          <li class="schedule-item schedule-m">
            <div>
              <div class="schedule-title">Kornel & Catharine</div>
              <div class="schedule-time">15:00 - 17:00 (2h) • HDC • L3</div>
            </div>

            <img class="schedule-image" src="/images/artist/kc.png">
          </li>

          <li class="schedule-item schedule-l2">
            <div>
              <div class="schedule-title">Sorush & Elise</div>
              <div class="schedule-time">18:30 - 19:30 • Ooppera Amphitheatre • L2</div>
            </div>

            <img class="schedule-image" src="/images/artist/se.png">
          </li>

          <li class="schedule-item schedule-l1">
            <div>
              <div class="schedule-title">Noora & Niklas <small>(Dominican Bachata)</small></div>
              <div class="schedule-time">18:15 - 19:15 • Töölönlahti • L1</div>
            </div>

            <img class="schedule-image" src="/images/artist/nn.png">
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social <small>(Sensual Bachata)</small></div>
              <div class="schedule-time">19:30 - 01:00 • Ooppera Amphitheatre</div>
              <div class="schedule-time">DJ Babak • DJ Puxa<sup>2</sup></div>
            </div>
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social <small>(Dominican Bachata)</small></div>
              <div class="schedule-time">19:15 - 22:00 • Töölönlahti</div>
              <div class="schedule-time">DJ Nanzi</div>
            </div>
          </li>

          <li class="schedule-item schedule-p">
            <div>
              <div class="schedule-title">Outdoor Social <small>(Salsa)</small></div>
              <div class="schedule-time">18:00 - 21:00 • Ooppera Main Entrance</div>
              <div class="schedule-time">By Salsa Borealis</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-12 col-12 mb-4 mb-lg-0 d-flex align-items-center">
        <div class="services-info">
          <h4 class="header-primary mb-4" id="info">Workshop & Party Info</h4>

          <p>Door opens 30min before first workshop. Our goal is to start all workshops on time (max 5 - 10min late) so please be there early. Please note that we reserve the right to make changes to the workshop schedule.</p>

          <h5 class="mt-5 mb-4">Workshop levels</h5>
          <ul class="list-group mb-4">
            <li class="list-group-item schedule-l1"><b>L1:</b> Open level, not for total beginners. Full pass required.</li>
            <li class="list-group-item schedule-l2"><b>L2:</b> Minimum 1 year bachata experience. Full pass required.</li>
            <li class="list-group-item schedule-m"><b>L3:</b> Mastery track pass required, <a href="/mastery-track">more info →</a></li>
          </ul>

          <h5 class="mt-5 mb-4">Locations</h5>

          <p><a href="https://www.google.com/maps/d/u/4/edit?mid=17K3brhOCRY81TX6JFzUVBXO218H-9aw&usp=sharing">View festival map →</a></p>

          <ul class="list-group mb-4">
            <li class="list-group-item"><b>Cirko:</b> Main venue.<br><a href="https://maps.app.goo.gl/w85gTvoQ2n77YydR6" target="_blank">Kaasutehtaankatu 1, 00540 Helsinki</a></li>
            <li class="list-group-item"><b>Circus:</b> Secondary venue for workshops. Short walk from main venue (250 meters).<br><a href="https://maps.app.goo.gl/FcPjrXYKa3SddHFR6" target="_blank">Sörnäisten rantatie 22, 00540 Helsinki</a></li>
            <li class="list-group-item"><b>HDC:</b> Secondary venue for workshops. Short walk from main venue (350 meters).<br><a href="https://maps.app.goo.gl/w1vJ2emRNxuoQBfM9" target="_blank">Sörnäisten rantatie 33, 00540 Helsinki</a></li>
            <li class="list-group-item"><b>Ooppera:</b> Outdoor venue.<br><a href="https://maps.app.goo.gl/Gk1EjPnRMfPFSHse8" target="_blank">Helsinginkatu 58, 00251 Helsinki</a></li>
            <li class="list-group-item"><b>Töölönlahti:</b> Outdoor venue. The workshop here by Niklas & Noora is free for all, optional 10€ payment.<br><a href="https://maps.app.goo.gl/BtvScLUBAuvUnMLS6" target="_blank">Karamzininranta 1, 00100 Helsinki</a></li>
            <li class="list-group-item"><b>Kalasatama:</b> Outdoor venue. The Dominican Bachata day socials here are free for all, optional 10€ payment.<br><a href="https://maps.app.goo.gl/aAuwmt6vk3Txgc5HA" target="_blank">Arielinkatu 8, 00540 Helsinki</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}