{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mb-4">
        <h2>Social Competition</h2>
      </div>

      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <p>We're excited that Bachata Sauna Festival will host the Finland Regional Bachata Social Competition organized by the widely known and highly respected <a href="https://www.instagram.com/gregorykarolinabachata" target="_blank">Gregory & Karolina</a> from Warsaw Bachata Meet Up.</p>
          <p>They bring together the best dancers from all over the world, so whether you're a seasoned professional or an enthusiastic beginner, this is your chance to showcase your skills and experience the vibrant community.</p>

          <div class="custom-form mb-4">
            <div class="col-lg-7">
              <button onclick="window.open('https://worldbachatameetup.com/competition-registration')" class="form-control">Register for Social Competition</button>
            </div>
          </div>

          <p class="text-white mt-4">Participation fee: 20€, paid to Warsaw Bachata Meetup at the festival</p>
          <p><b>Please note that a full pass (for locals) or a party pass (for international visitors) is mandatory to participate.</b></p>

          <h6 class="header-primary mt-4">World Bachata Social Competition</h6>

          <p>The semi-finalists and finalists from Bachata Sauna and other events in Poland, France, Germany, Hungary, Lithuania, Switzerland, Sweden, Denmark & more will participate in the <b>WORLD FINALS</b> on 29.11.2025 in Warsaw.</p>

          <br>

          <h3 class="text-white mb-4">How it works?</h3>

          <h6 class="header-primary mt-4">Stage 1 - Initial Round</h6>

          <p><b>Round 1:</b> All dancers perform simultaneously with different partners, judged individually by roaming judges.</p>

          <p><b>Round 2:</b> A judges' table is introduced, with the audience seated on the sides and back. Dancers perform in pairs alphabetically, changing partners frequently while dancing both an open and a competition music.</p>

          <h6 class="header-primary mt-4">Stage 2 - Scoring</h6>

          <p>Dancers receive points from the judges and then they score performance of their peers.</p>

          <p>Participants can vote for 3 of the best partners, which later receive additional score.</p>

          <h6 class="header-primary mt-4">Stage 3 - Finals</h6>

          <p>Dancers perform with the judges, showcasing their skills in front of an expert panel.</p>

          <p>It provides an opportunity for dancers to demonstrate their ability to adapt and excel, dancing alongside experienced judges who evaluate their technique, creativity, and interaction.</p>

          <h6 class="header-primary mt-4">Stage 4 - World Finals</h6>

          <p>Finalists and semi-finalists from each regional competition are eligible to participate in the World Bachata Social Competition in Warsaw on 29.11.2025. The finalists from all over Europe compete for the championship title.</p>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap mb-4">
          <img src="images/meetup.webp" class="about-image img-fluid">
        </div>

        <h5 class="header-primary mt-4">Social Competition Prizes</h5>

        <h6>1st Place</h6>
        <ul>
          <li>Full Pass to <a href="https://www.instagram.com/malmobachatafestival">Malmö Bachata Festival</a> (Sep 26 - 28, 2025)</li>
          <li>Full Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
          <li>Full Pass to <a href="https://www.instagram.com/crazylion.events">Tallinn Bachata Experience</a> (Nov 20 - 24, 2025)</li>
          <li>Full Pass to <a href="https://www.instagram.com/aphroditebachataexperience">Aphrodite Bachata Experience</a> (Feb 6 - 9, 2026)</li>
          <li>Full Pass to <a href="https://www.instagram.com/legacyfusionfestival">Legacy Fusion Festival</a> (Mar 13 - 15, 2026)</li>
        </ul>

        <h6>2nd Place</h6>

        <ul>
          <li>Full Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
          <li>Party Pass to <a href="https://www.instagram.com/malmobachatafestival">Malmö Bachata Festival</a>  (Sep 26 - 28, 2025)</li>
          <li>Party Pass to <a href="https://www.instagram.com/aphroditebachataexperience">Aphrodite Bachata Experience</a> (Feb 6 - 9, 2026)</li>
        </ul>

        <h6>3rd Place</h6>

        <ul>
          <li>Party Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
        </ul>

        <br><br>

        <div class="about-text-wrap">
          <img src="images/meetup-judges.webp" class="about-image img-fluid">
        </div>

        <h5 class="header-primary mt-4">Social Competition Judges</h5>

        <h6>Elimination & Semi-final</h6>
        <ul>
          <li>Artists from line-up, exact judges TBD. Check back soon!</li>
        </ul>

        <h6>Final</h6>

        <ul>
          <li>Ofir & Ofri</li>
          <li>Irene & Tomas</li>
          <li>Kornel & Catharine</li>
          <li>Owen & Eva</li>
          <li>& TBD</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}