{% extends "_content.html" %}

{% block content %}
<section class="about-section section-padding section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mb-4">
        <h2>Social Competition</h2>
      </div>

      <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
        <div class="services-info">
          <p>We're very excited to host the Finland Regional Bachata Social Competition organized by <a href="https://www.instagram.com/gregorykarolinabachata" target="_blank">Gregory & Karolina</a> from Warsaw Bachata Meet Up.</p>
          <p>They bring together the best dancers from all over the world, so whether you're a seasoned professional or an enthusiastic beginner, this is your chance to showcase your skills and experience the vibrant community.</p>

          <p>The semi-finalists and finalists from Bachata Sauna and other events in Poland, France, Germany, Hungary, Lithuania, Switzerland, Sweden, Denmark & more will participate in the <b>WORLD FINALS</b> on 29.11.2025 in Warsaw.</p>

          <h5 class="header-primary mt-4">Registration</h5>

          <p><a href="https://www.facebook.com/events/1309555073487018">Registration & more info →</a></p>

          <h5 class="header-primary mt-4">Social Competition Judges</h5>

          <h6>Elimination & Semi-final</h6>
          <ul>
            <li>Kornel & Catharine</li>
            <li>Owen & Eva</li>
            <li>Gregory & Karolina</li>
            <li>Jeremy & Forma</li>
            <li>Ash & Leni</li>
            <li>Pinja & Sibel</li>
          </ul>

          <h6>Final</h6>

          <ul>
            <li>Ofir & Ofri</li>
            <li>Irene & Tomas</li>
            <li>Kornel & Catharine</li>
            <li>Owen & Eva</li>
          </ul>

          <h5 class="header-primary mt-4">Social Competition Prizes</h5>

          <h6>1st Place</h6>
          <ul>
            <li>Full Pass to <a href="https://www.instagram.com/malmobachatafestival">Malmö Bachata Festival</a> (Sep 26 - 28, 2025)</li>
            <li>Full Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
            <li>Full Pass to <a href="https://www.instagram.com/crazylion.events">Tallinn Bachata Experience</a> (Nov 20 - 24, 2025)</li>
            <li>Full Pass to <a href="https://www.instagram.com/warsawbachatameetup">World Bachata Meet Up!</a> (Nov 28 - 30, 2025)</li>
            <li>Full Pass to <a href="https://www.instagram.com/aphroditebachataexperience">Aphrodite Bachata Experience</a> (Feb 6 - 9, 2026)</li>
            <li>Full Pass to <a href="https://www.instagram.com/legacyfusionfestival">Legacy Fusion Festival</a> (Mar 13 - 15, 2026)</li>
          </ul>

          <h6>2nd Place</h6>

          <ul>
            <li>Full Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
            <li>Party Pass to <a href="https://www.instagram.com/malmobachatafestival">Malmö Bachata Festival</a>  (Sep 26 - 28, 2025)</li>
            <li>Party Pass to <a href="https://www.instagram.com/aphroditebachataexperience">Aphrodite Bachata Experience</a> (Feb 6 - 9, 2026)</li>
          </ul>

          <h6>3rd Place</h6>

          <ul>
            <li>Party Pass to <a href="https://www.instagram.com/bachataundergroundxxl">Bachata Underground XXL</a> (Sep 26 - 28, 2025)</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="about-text-wrap mb-4">
          <img src="images/meetup.webp" class="about-image img-fluid">
        </div>
        <div class="about-text-wrap mb-4">
          <img src="images/meetup-judges.webp" class="about-image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
